{% extends "base.html" %}

{% block title %}Produto{% endblock %}

{% block titleH1 %}<h1>Produto</h1>{% endblock %}

{% block content %}
    <div class="container">
        <form action="{{ url_for('produto.formProduto') }}" method="POST">
            <button type="submit" class="btn btn-primary">Novo Produto</button>
        </form>
        <br>
        <table class="table table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                    <th scope="col">descricao</th>
                </tr>
            </thead>
            <tbody>
                {% if result %}
                {% for row in result[0] %}
                <tr>
                    <th scope="row"> {{ row['id_produto'] }}</th>
                    <td> {{ row['nome'] }}</td>
                    <td> {{ row['valor_unitario'] }}</td>
                    <td> {{ row['descricao'] }}</td>
                    <td><i class="fas fa-edit"></i></td>
                    <td><i class="fas fa-trash"></i></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>    
    </div>
    
{% endblock %}